https://github.com/Unity-Technologies/2d-extras
https://opengameart.org/content/dungeon-tileset
https://www.fantasynamegenerators.com/artifact-names.php

https://www.flaticon.com/packs/viking-8?k=1609072540750
https://www.flaticon.com/free-icon/bitcoin_898027

modified code : https://github.com/elucidsoft/dotnetstandard-bip39/blob/master/dotnetstandard-bip39/BIP39.cs#L232
LICENSE FOR CODE BIP39
https://github.com/elucidsoft/dotnetstandard-bip39/blob/master/LICENSE

https://dribbble.com/shots/15545683-Pixel-Moon

fairy : https://www.pngwing.com/en/free-png-nddgv
fairy effect; https://www.pngwing.com/en/free-png-pfbkm
boots icon: https://pixabay.com/illustrations/helmet-armor-chest-plate-boots-5724641/